.contenedorPortada {
  width: 100%;
  height: 450px;
  display: flex;
  background-color: rgb(0, 0, 0);
  margin-top: 80px;
}

.contenedorInfoPortada {
  width: 100%;
  display: flex;
}

.contenedorImagenPortada {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorImagenPortada img {
  height: 90%;
}

.contenedorTextoPortada {
  width: 50%;
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 100px;
  padding-right: 30px;
}

.contenedorTextoPortada h1 {
  width: 450px;
  font-size: 90px;
  font-weight: 700;
  color: #fff;
  text-align: right;
}

.contenedorTextoPortada h2 {
  text-align: right;
  font-size: 40px;
  color: rgb(252, 190, 21);
}

@media (max-width: 480px) {
  .contenedorPortada {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .contenedorInfoPortada {
    flex-direction: column;
  }

  .contenedorTextoPortada {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 !important;
  }

  .contenedorTextoPortada h1 {
    width: 100%;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: -40px;
  }

  .contenedorTextoPortada h2 {
    text-align: center;
  }

  .contenedorImagenPortada {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburguesaPortada {
    width: 100%;
  }
}
