.tituloPremium {
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
}

.contenedorPremium {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 30px 0;
  justify-content: space-between;
}

.hamburguesaPremium {
  width: 49%;
  border-radius: 15px;
}

.contenedorImagenPremium {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px !important;
}

.hamburguesaPremium img {
  border-radius: 15px !important;
}

@media (max-width: 480px) {
  .contenedorPremium {
    padding: 0 10px !important;
    margin-bottom: 30px;
  }

  .hamburguesaPremium {
    width: 100%;
    margin: 10px 0;
    border-radius: 15px !important;
  }

  .contenedorImagenPremium {
    padding: 0 !important;
  }
}
