.contenedorTotalPremium {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.containerOpciones {
  width: 100%;
  height: 100%;
  background-color: rgb(252, 190, 21);
  padding: 30px 0 60px 0;
}

.containerOpciones h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.contenedorOpciones {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buscadas {
  width: 24%;
  border-radius: 15px !important;
  border: 0 !important;
}

.imgOpciones {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.card-body h5 {
  font-weight: 700 !important;
}

.h5Buscadas {
  text-align: center;
}

.precio {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

@media (max-width: 480px) {
  .containerOpciones {
    padding: 20px 0 10px 0;
  }

  .contenedorOpciones {
    flex-wrap: wrap;
  }

  .buscadas {
    width: 49%;
    border-radius: 15px !important;
    border: 0 !important;
    margin-bottom: 10px;
  }
}
