.contenedorIngredientes {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  padding: 30px 0;
}

.contenedorIngredientes h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
}

.contenedorGeneral {
  width: 100%;
  display: flex;
}

.ingredientes {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.ingrediente {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(252, 190, 21);
  border-radius: 7px;
  display: flex !important;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
}

.ingrediente:hover {
  cursor: pointer;
  background-color: rgb(252, 190, 21);
  border: 0;
}

.ingredienteSeleccionado {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 7px;
  display: flex !important;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgb(252, 190, 21);
  border: 0;
}

.ingrediente p {
  margin: 0;
  margin-left: 10px;
  font-weight: 700;
}

.ingredienteSeleccionado p {
  margin: 0;
  margin-left: 10px;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.ingrediente img,
.ingredienteSeleccionado img {
  height: 100%;
}

.infoIngrediente {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}

.infoIngrediente:hover {
  color: rgb(0, 0, 0);
}

.precioArmado {
  width: 50%;
  color: #fff;
  padding: 0 20px;
}

.precioArmado h3 {
  display: none;
}

.apagar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.apagar p {
  font-weight: 700;
  margin: 0;
}

.apagarImagenNombre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apagarImagenNombre p {
  margin: 0;
  font-weight: 700;
}

.apagarImagenNombre img {
  margin-right: 10px;
}

.precioYeliminarIngrediente {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.precioYeliminarIngrediente i {
  cursor: pointer;
}

.total {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 700;
}

.realizarPedido {
  font-weight: 700 !important;
  font-size: 20px !important;
}

.realizarPedido:hover {
  color: #fff !important;
}

.realizarPedido:focus {
  box-shadow: none !important;
}

.precioTotal {
  margin-bottom: 0 !important;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .contenedorGeneral {
    flex-direction: column;
  }

  .ingredientes,
  .precioArmado {
    width: 100%;
  }

  .precioArmado h3 {
    text-align: center;
    font-weight: 700;
    display: block;
    margin: 10px 0;
  }
}
