html,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

/* @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,600;0,700;1,400;1,600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Titillium+Web:ital,wght@0,200;0,400;0,600;0,700;1,400;1,600&display=swap");

#root {
  font-family: "Titillium Web", sans-serif;
}
